<% layout('/layouts/boilerplate') -%>
<body>
  <h3>All Listings</h3>

  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
    <% for(let listing of allListings) { %>
    <div class="col">
      <a href="/listings/<%= listing.id %>" class="listing-link">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= listing.image %>" style="height: 15rem;" alt="listing image">
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.price %> / night</p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</body>
